<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="layouts :: heading"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<form class="row g-3" style=" margin: 5px 10px;">
    <div class="col-auto">
        <input type="date">
<!--        <label for="guestsnumber">Number of Guests:</label>-->
        <input type="number" placeholder="Number of guests" id="guestsnumber">
        <button type="button" class="btn btn-primary">Check Availability</button>

    </div>

</form>

</body>
</html>